body {
    background-color: black;
    color: #af3;
}

h3 {
    margin-top: 2em;
}

h3 a {
    border: solid 1px;
    padding: 0.5em 0.7em 0.5em 0.7em;
    color: #af3;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #3fd;
}

a.youtube, a.genius {
    font-size: 0.8em;
}

a.top {
    text-decoration: none;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
}

#quick-links {
    font-size: 0.7em;
}

.size, .structure, .size-only {
    font-size: 0.7em;
}

.size {
    margin-bottom: 0;
}

.structure {
    margin-top: 0;
}

.same {
    margin-top: 0;
    font-size: 0.7em;
}

table {
    border: solid 1px;
    text-align: center;
}

td, th {
    padding: 0.2em;
    border: solid 1px;
}

.song-comments {
    text-indent: 2em;
}
