body {
    background-color: black;
    color: #af3;
}

h3 {
    border: solid 1px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #3fd;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
}

p.size {
    font-size: 0.7em;
}

table {
    border: solid 1px;
    text-align: center;
}

td, th {
    padding: 0.2em;
    border: solid 1px;
}
