body {
    background-color: black;
    color: #af3;
}

h3 {
    margin-top: 2em;
}

h3 span {
    border: solid 1px;
    padding: 0.5em 0.7em 0.5em 0.7em;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #3fd;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
}

p.size, p.structure {
    font-size: 0.7em;
}

p.size {
    margin-bottom: 0;
}

p.structure {
    margin-top: 0;
}

p.same {
    margin-top: 0;
    font-size: 0.7em;
}

table {
    border: solid 1px;
    text-align: center;
}

td, th {
    padding: 0.2em;
    border: solid 1px;
}

.song-comments {
    text-indent: 2em;
}
